.newTask {
  margin-bottom: 5px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 4px;
  background-color: white;
}

.newTask__title {
  margin: 0;
  padding: 15px;
}

.newTaskField {
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 8px grey;
  border-radius: 4px;
  background-color: white;
}

.newTaskField__form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 400px) {
  .newTaskField__form {
    grid-template-columns: 1fr;
  }
}

.newTaskField__input {
  padding: 6px;
  flex-grow: 3;
}

.newTaskField__button {
  padding: 10px;
  background: mediumseagreen;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}
