html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-basis: 1000px;
  padding: 10px;
  font-weight: 700;
}

.header__title {
  margin: 0;
  padding: 30px;
  text-decoration: underline;
}
